CHAT_SERVER_ID=server-1

CHAT_MYSQL_HOST=127.0.0.1
CHAT_MYSQL_PORT=3306
CHAT_MYSQL_USER=root
CHAT_MYSQL_PASSWORD=change-me
CHAT_MYSQL_DATABASE=chat

CHAT_REDIS_HOST=127.0.0.1
CHAT_REDIS_PORT=6379

CHAT_RABBITMQ_HOST=127.0.0.1
CHAT_RABBITMQ_PORT=5672
CHAT_RABBITMQ_USER=chat
CHAT_RABBITMQ_PASSWORD=change-me
CHAT_RABBITMQ_EXCHANGE=chat_cross_server

CHAT_WEB_PORT=8080
CHAT_BACKEND_HOST=127.0.0.1
CHAT_BACKEND_PORT=6000
